.itemss{
    margin-top: 12px;
}
.encabezado{
    background-color: #757575;
    color: white;
}
.aceptar{
    background-color:green
}
.dne{
    text-align: center;
    font-size: 15px; 
    font-size-adjust: unset;
}
