
.todo{
  height: 50%;
  width: 100%; 
  display: flex; 
}
.lista{
  margin: auto;
  width: 90%;
  
}
.image{
  margin-top: 30px;
  display: flex;
  
}
.image>img{
  margin: auto;
}
.labels{
  font-size: x-large;
}
.boton{
  margin-top: 30px;
  font-size: large;
  color: #FF5722;
}
.jjgc{
  margin-top: 15px;
}
