<ion-tabs>
  <ion-tab-bar slot="botton">
    <ion-tab-button tab="planchado-maquinas">
      <ion-icon name="print"></ion-icon> 
      <ion-label>Maquinas</ion-label>
    </ion-tab-button> 
    <ion-tab-button tab="planchado-asignados">
      <ion-icon name="create"></ion-icon> 
      <ion-label>Asignados</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="planchado-en-proceso">
      <ion-icon name="log-in"></ion-icon> 
      <ion-label>En Proceso</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>